@model IEnumerable<ProductModel>

<body>
    <div class="banner"><img src="icons/Produtos!.png" alt="banner"></div>
    <div class="productList">
    
        @if(Model != null)
        {
            @foreach(var product in Model)
            {
                <div class="productCard">
                    <div class="productImgCard">
                        <img class="productImg" src="@product.ImgUrl" alt="productImg">
                    </div>

                    <div class="productCardInfos">
                        <p id="productDescr"> @product.Type @product.Name</p>
                        <p id="productPrice">@product.Price.ToString("C")</p>
                    </div>

                    <div class="buttonAdd">
                        <button 
                            id="addToCart" 
                            onclick="addToCartList(@product.Id, @product.ImgUrl, @product.Type, @product.Name, @product.Price">Adicionar no carrinho
                        </button>
                    </div>
                </div>
            }
        }
    </div>
    <script src="~/js/cartList.js"></script>
</body>